Options -Indexes
RewriteEngine On

<IfModule php_module>
	php_value upload_max_filesize 10M
	php_value post_max_size 12M
</IfModule>

RewriteRule ^$ public/ [L]

RewriteCond %{REQUEST_URI} !/public/
RewriteRule ^(.+)$ public/$1 [L]